h1{
    color: aquamarine;
    font-size:50px;
}

p{font-size: 20px;
}

.intro{
    color: violet;
}

img{
    width: 500px;
}

h2{
    color: aquamarine;
        font-size:50px;
}

h4{
    color: aquamarine;
    font-size: 50px;
}